
.hide {
    display: none !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
    color: #1c1d1f;
    margin: 0;
    padding: 0;
}

li, a, .fnt {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.95rem;
    text-decoration: none !important;
    color: #1c1d1f !important;
}

button, .fnt-btn{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 0.95rem;
    text-decoration: none;
    color: #1c1d1f;
}

.fnt-h {
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 2.15rem;
    line-height: 1.55;
    letter-spacing: -.05rem;
}

.fnt-p {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.15rem;
}

.fnt-h-xl {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -.02rem;
    font-size: 1.8rem;
}

.fnt-xs {
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.7rem;
    color: #6a6f73;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px;
    width: 100vw;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    z-index: 10;
}

.fnt-md {
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 0.6 !important;
    letter-spacing: -.02rem;
    font-size: 1.2rem;
}

.nav__links {
    list-style: none;
    margin-bottom: 0;
}

.nav__links li {
    display: inline-block;
    margin: 0 20px;
}

.nav__links li a {
    transform: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color:#5624d0;
}

.nav__links li input {
    margin: 0 0.5rem;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
}

.nav__links li form button {
    border: none;
    outline: none;
    border-left: 1px solid #1c1d1f;
    background: #f7f9fa;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #f7f9fa;
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid #1c1d1f;
}

button, .explore-btn {
    padding: 9px 25px;
    background-color: white;
    border: 1px solid #1c1d1f;
    cursor: pointer;
    transform: all 0.3s ease 0s;
    
}

button:hover, .explore-btn:hover {
    background-color: #f7f9fa;
}

.sadf {
    flex-grow: 2;
}

.cart {
    position: relative;
    display: inline-block;
}

.cart .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.cart:hover .img-top {
    display: inline;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #555;
}

.language:hover {
    background-color: #f7f9fa;
}

.sign-up {
    color: #fff;
    background-color: #1c1d1f;
}

.sign-up:hover {
    color: #fff;
    background-color: #000;
}

.banner {
    display: inline-block;
    position: relative;
    max-width: 1340px;
    width: 100vw;
}

.banner img {
    max-width: 1340px;
    width: 100vw;
    height: auto;
}

.billboard {
    padding: 24px;
    max-width: 440px;
    position: absolute;
    display: block;
    background: #fff;
    z-index: 10;
    top: 4.5rem;
    left: 5.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 0 0 20px;
    padding: 0;
}

.container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.headline {
    max-width: 80rem;
    width: 80rem;
    font-family: SuisseWorks,Georgia,Times,times new roman,serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -.05rem;
}

.headline-sub {
    margin-top: 0.6rem;
    max-width: 80rem;
    width: 100vw;
}

.tabs-list {
    list-style: none;
    max-width: 80rem;
    width: 93vw;
    justify-content: space-between;
    margin-bottom: 10px;
}
.nav-link {
    padding: 0.5rem 2rem 0.5rem 0 !important;
    font-weight: bold;
    color: #6a6f73 !important;
}

.nav-link:hover {
    color:#1c1d1f !important;
}

.tabs-nav-button {
    background: 0 0;
    padding: 0.5rem 0.4rem;
    outline-offset: -0.4rem!important;
    color: #6a6f73;
    position: relative;
    width: 100vw;
    font-weight: bold;
}

.selected-btn {
    background: 0 0;
    outline-offset: -0.4rem!important;
    color: #1c1d1f;
    width: 100vw;
    cursor: default;
    padding: 0.4rem 0.5rem 0.4 0;
    position: relative;
    font-weight: bold;
}

.tabs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    width: 100vw;
    flex-direction: column;
}

.skills-hub {
    border: 1px solid #d1d7dc;
    padding: 15px;
    max-width: 80rem;
    width: 100vw;
}

.skills-banner-text {
    max-width: 800px;
    width: 800px;
    width: 93%;
    height: auto;
    margin-bottom: 30px;
}

.skills-banner {
    display: flex;
    justify-content: space-around;
    max-width: 80rem;
    width: 100%;
    margin: 0 2rem 4rem;
    flex-direction: column;
}

.courses {
    display: flex;
    max-width: 80rem;
    width: 100vw;
    margin: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.course {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 180px;
    min-width: 13.8rem;
    padding: 1rem 0.5rem;
    margin-right: 1.7rem;
}

.img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d1d7dc;
    width: 100%;
    max-width: 252.2px;
}

.inline-blck {
    line-height: 0.8;
    padding-bottom: 10px;
    height: 56px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rate {
    color: #b4695c;
    padding-bottom: 12px;
}

.stars {
    color: #e59819;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {

    .nohide {
        display: none !important;
    }

    .hide {
        display: block !important;
    }

    .prior {
        flex-grow: 2;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .banner {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        width: 100vw;
    }

    .banner img {
        max-width: 800px;
    }
    
    .billboard {
        padding: 24px;
        max-width: 440px;
        position: unset;
        display: block;
        background: #fff;
        box-shadow: none;
        width: 100vw;
        max-width: 800px;
    }
    
    .container3 {
        max-width: 800px;
        margin-left: 25px;
    }
    
    .tabs-container {
        max-width: 800px;
        width: 92vw;
        margin-left: 25px;
        flex-direction: column;
        min-width: 0;
    }

    .tabs-list li {
        margin-right: auto;
    }

  }
  /*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (min-width: 768px) {

    /* show 4 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

.carousel-inner {
    display: flex !important;
    flex-direction: row !important;
}


.carousel-control-next, .carousel-control-prev {
    padding: 0 !important;
    margin-left: -5px;
    margin-right: 23px;
    top: 30% !important;
    transform: translateY(-50%);
    height: 40px !important;
    width: 40px !important;
    border-radius: 20px !important;
    background: #1c1d1f !important;
}

